# Asset files
*.asset
*.ogg

.editorconfig
# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Build output
dist/
build/
out/
bin/
obj/


# IDE files
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates